/* MAIN */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  display: block;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  font: bold 180% montserrat, georgia;
  text-align: center;
}
h3 {
  font: bold 155% Georgia, sans-serif;
  letter-spacing: -0.5px;
  text-align: center;
}
h4 {
  font: bold 135% Montserrat, Georgia, sans-serif;
  letter-spacing: -0.5px;
}
.row h4 {
  color: rgba(43, 42, 42, 0.822);
  font-size: 120%;
  font-family: sans-serif;
}
h5 {
  font: normal 110% sans-serif;
  letter-spacing: -0.5px;
}
p {
  font: normal 120% sans-serif;
  letter-spacing: 0.2px;
  line-height: 160% !important;
  text-align: left;
}
a,
a:visited {
  text-decoration: none;
}
.page {
  margin: 0 !important;
  display: block;
  position: relative;
}
.page::after {
  content: "";
  background: linear-gradient(
      0deg,
      rgba(235, 235, 235, 0.959),
      rgba(235, 235, 235, 0.959)
    ),
    url(./Images/background2.jpg);
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}
.page1 {
  margin: 0 !important;
  display: block;
  position: relative;
}
.page1::after {
  content: "";
  background: linear-gradient(
      0deg,
      rgba(235, 235, 235, 0),
      rgba(235, 235, 235, 0)
    ),
    url(./Images/background2.jpg);
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

.w3-black {
  color: #fff !important;
  background-color: rgba(17, 37, 82, 0.905) !important;
}
.w3-padding-large {
  padding: 0.9rem 1.8rem !important;
}

/* HEADER */
.header {
  background-color: rgb(17, 37, 82);
  position: static;
  display: block;
  width: 100%;
  margin: auto;
}
#header {
  display: block;
  margin: auto;
  width: 42%;
  display: flex;
}
.header3 {
  background-color: rgb(17, 37, 82);
  position: static;
  display: block;
  width: 100%;
  margin: auto;
}
#header3 {
  display: block;
  margin: auto;
  width: 50%;
  display: flex;
}
.header2 {
  background-color: rgb(17, 37, 82);
  position: static;
  display: block;
  width: 100%;
  margin: auto;
}
#header2 {
  display: block;
  margin: auto;
  width: 45%;
  display: flex;
}

/* NAVBAR */
.w3-top {
  position: fixed;
  width: 100%;
  z-index: 9 !important;
  top: 0;
  font-size: 1.25rem !important;
}
.w3-bar {
  width: 100%;
  overflow: hidden;
  color: whitesmoke;
}
.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}
.w3-bar .w3-bar-item {
  padding: 1rem;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.w3-bar .w3-dropdown-hover,
.w3-bar {
  position: static;
  float: left;
}
.w3-bar .w3-button {
  white-space: normal;
}
.w3-bar-item {
  padding-right: 1.5rem !important;
  padding-left: 1.9rem !important;
}

.home {
  float: left !important;
  margin-left: 14.5vw !important;
}
.home1 {
  float: left !important;
  margin-left: 12.5vw !important;
}
.w3-right {
  float: right !important;
  margin-right: 8.5%;
}
.w3-bar,
.w3-card {
  background-color: rgba(17, 37, 82, 0.993);
}
.w3-button:hover {
  color: whitesmoke !important;
  background-color: rgb(17, 37, 82) !important;
  border-bottom: 2.5px solid red;
  font-weight: bold;
}
.w3-hover-none:hover {
  box-shadow: none !important;
}

.w3-card-4 .w3-bar-item {
  width: 100%;
  display: block;
  padding: 0.5rem 16px !important;
  text-align: center !important;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.w3-bar-block .w3-dropdown-hover,
.w3-bar-block {
  width: 100%;
}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
.w3-bar-block .w3-dropdown-content {
  min-width: 100%;
}
.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.show {
  background-color: rgba(17, 37, 82, 0.993) !important;
}

.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
button:focus {
  outline: none;
}

.active {
  border-bottom: 2.5px solid red !important;
}
.w3-button:active,
.w3-button:hover {
  outline-width: 0;
  border-bottom: 2.5px solid red;
}

/* navbar-mobile-Toggle */
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}
.w3-block {
  display: block;
  width: 100%;
}
.w3-bar-block ul {
  margin-left: -2rem !important;
}
#smallPage {
  color: whitesmoke;
  text-decoration: none !important;
  font-size: 90% !important;
}
.show + a,
ul {
  display: none;
}
li {
  list-style-type: none;
}
.icon {
  display: block;
  color: white;
  position: absolute;
  top: 0;
  right: 40px;
  line-height: 70px;
  cursor: pointer;
  font-size: 25px;
}
[id^="btn"]:checked + ul {
  display: block;
}
span.cancel:before {
  content: "\f00d";
}

/* BUTTON */
button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.w3-btn,
.w3-button {
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}
.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* DROPDOWN */
.w3-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.w3-dropdown-hover:hover .w3-dropdown-content {
  display: block;
}
.w3-dropdown-hover:first-child {
  background-color: rgb(17, 37, 82);
  color: whitesmoke;
}
.w3-dropdown-hover:hover > .w3-button:first-child > .w3-button:first-child {
  background-color: rgb(17, 37, 82);
  color: whitesmoke;
}
.w3-dropdown-content {
  cursor: auto;
  color: whitesmoke;
  background-color: rgb(17, 37, 82);
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* CONTENT */
.w3-content {
  max-width: 100%;
  padding-top: 4rem;
}
.w3-content,
.w3-content2 {
  padding-top: 1rem !important;
}
.w3-container {
  padding: 0.1rem;
  margin: auto !important;
  padding-top: 2.5%;
}
.mcontent {
  margin: auto;
  width: auto;
  padding: 4%;
  padding-top: 8% !important;
}
.logohide {
  width: 0.1%;
  filter: opacity(0.1%);
}
.space {
  margin: auto !important;
  padding: 5%;
}
/* homepage */
.w3-content2 {
  margin-left: auto !important;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 100%;
  padding-top: 6rem;
  background-color: rgba(235, 235, 235, 0.959);
}
.w3-content2 p {
  font-size: 120%;
  letter-spacing: 0.2px;
  line-height: 175% !important;
  /* text-align: left; */
}
.w3-content2 h3 {
  font: bold 180% Georgia, sans-serif;
  letter-spacing: -0.5px;
}
.w3-content2 h4 {
  font: bold 175% Montserrat, Georgia, sans-serif;
  letter-spacing: -0.5px;
}
.vwall {
  width: 70%;
  margin: auto;
  margin-bottom: -5% !important;
  /* margin-top: 5% !important; */
  display: block;
}
.statement {
  margin: auto;
  width: auto;
  padding: 0 5%;
}

/* DONATE */
.donateNote {
  text-align: center;
  font-weight: bold;
}
.donate {
  width: 18% !important;
  filter: hue-rotate(105deg) brightness(70%) invert(100%) contrast(85%);
}
.donate:hover {
  filter: hue-rotate(302deg) !important;
}

/* EVENTS */
.paypal {
  max-width: 500px;
  margin: auto;
  padding-top: 0.9rem;
  background-attachment: fixed;
  z-index: 1 !important;
  position: relative;
}
.rowEvent button {
}
.columnEvent {
  padding: 1%;
  color: gray !important;
  width: 50%;
}
.buttonEvent {
  background-color: white !important;
  border: none !important;
  cursor: pointer !important;
  text-align: center !important;
}
.rowEvent a,
.rowEvent a:visited {
  color: black;
}
.infoEvent {
  width: 100% !important;
  padding: 5% !important;
  background-color: white !important;
  border-radius: 20px !important;
  border: thin;
  width: 100% !important;
  min-width: 200px !important;
  max-width: 350px !important;
  font-size: larger;
}

.toleft {
  float: left !important;
}
.toright {
  float: right !important;
}

/* News */
.navigation {
  width: 300px;
  margin: auto;
}
.mainmenuCN {
  display: contents !important;
}
/* reset our lists to remove bullet points and padding */
.mainmenuCN,
.submenuCN {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */
.mainmenuCN a {
  display: block;
  background-color: #ccc;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
/* add hover behaviour */
.mainmenuCN a:hover {
  background-color: #c5c5c5;
}
.mainmenuCN li:hover .submenuCN {
  display: block;
  max-height: 200px;
}
.submenuCN a {
  background-color: #999;
}
/* hover behaviour for links inside .submenu */
.submenuCN a:hover {
  background-color: #666;
}
.submenuCN {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

/* AD */
#sponsorimg {
  width: 9.6rem;
  height: 9.6rem;
  padding: 4% 3%;
}

/*table*/
.w3-container:after,
.w3-container:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}
.w3-third {
  float: left;
  width: 20%;
  margin: auto;
}
.w3-hide {
  display: none !important;
}
.w3-show-block,
.w3-show {
  display: block !important;
}
.w3-show-inline-block {
  display: inline-block !important;
}

.name {
  text-align: center !important;
}
/* Membership Page */
.chapterpatch {
  width: 40%;
}
.patch {
  padding-bottom: 4%;
}
#patch {
  width: 100%;
  padding: 0 !important;
  float: right;
}
.left {
  width: 40% !important;
  float: left;
  padding: 0 !important;
}
.right {
  float: right;
  width: 60% !important;
  padding: 0 !important;
  margin: auto;
}
.patchWords {
  font: bold 2.2vw verdana !important;
  padding: 0.75rem 0.6rem 0rem 0rem;
  text-align: CENTER !important;
  line-height: 3.5vw !important;
  color: black;
}
.patchWordsSmall {
  font: bold 1.85vw verdana !important;
  padding: 0.75rem 0.6rem 0rem 0rem;
  text-align: CENTER !important;
  color: black;
}
.columnPatch {
  width: 50%;
}
.rowPatch {
  background-color: rgba(158, 194, 248, 0.152) !important;
  margin: auto;
}
/* Clear floats after the columns */
.rowPatch:after {
  content: "";
  display: table;
  clear: both;
}

/* Brochures */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table {
  padding-bottom: 20rem !important;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #b1aeae;
}
th {
  background-color: rgb(116, 116, 116);
  color: rgb(252, 250, 250) !important;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5a5858af !important;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px !important;
  padding: 20px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}
.button a {
  text-decoration: none !important;
  color: whitesmoke;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.smaller {
  font-size: 85%;
}
.button:hover {
  background-color: #555;
}

/* LINKS */
.crisis {
  width: 100%;
  height: 6rem;
  padding: 0 0.8rem 0;
  display: block;
  margin: auto;
}
.row2 a {
  color: rgb(12, 25, 56);
}
.row2 {
  margin-left: 0.1rem !important;
  margin-right: 0.1rem !important;
  width: auto;
}
.column2 {
  float: left;
  width: auto;
  padding: 10px 15px;
}
.h4font {
  font: bold 200% Montserrat, Georgia, sans-serif;
  letter-spacing: 0.01rem;
}
/* Add some shadows to create a card effect */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(211, 211, 211, 0.9);
}
/* Some left and right padding inside the container */
.container2 {
  margin: auto;
  width: 24.2rem;
  height: 2.3rem;
  align-content: center;
}
.container2 a {
  text-decoration: none;
}
/* Clear floats */
.container2::after,
.row2::after {
  content: "";
  clear: both;
  display: table;
}
.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button2:hover {
  background-color: #555;
}

/* CHAPTER 279 */
/* CONTACT */
p {
  text-align: center;
}
.address {
  font-size: 120%;
}
.h4font {
  font: bold 200% Montserrat, Georgia, sans-serif;
  letter-spacing: 0.01rem;
}
.row {
  /* margin-left: 3.5rem !important;
  margin-right: auto !important; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  display: flex;
  padding: 0.4rem 1rem 0.5rem;
  margin-bottom: 0.5rem;
}
.column-center {
  display: flex;
  /* margin-left: 12rem; */
  padding: 0.4rem 1rem 0.5rem;
}
.row .button {
  padding: 2.2% !important;
  width: 100%;
}
.title {
  color: #555;
  text-align: center;
}
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(211, 211, 211, 0.85);
  width: 22rem;
}
/* Some left and right padding inside the container */
.container {
  padding: 5px 18px;
}
/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.boardEmail {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  font-style: italic;
}
/* .board p {
  margin: auto 25% !important;
} */

/* NE COUNCIL */
.nemcontent {
  margin: auto;
  width: auto;
  padding: 0%;
  padding-top: 8% !important;
}
.nerow {
  margin-left: 5rem !important;
  margin-right: auto !important;
  width: auto;
}
.nerow1 {
  margin-left: 10.5rem !important;
  margin-right: auto !important;
  width: auto;
  padding-top: 5%;
}
.necolumn {
  float: left;
  width: 100%;
  padding: 1rem 1rem;
}
.nerow .button,
.nerow1 .button {
  padding: 2.2% !important;
  width: 100%;
}
.address {
  font-size: small;
}
.necontainer h3,
.necontainer h4 {
  font-size: large;
}
/* Add some shadows to create a card effect */
.necard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(211, 211, 211, 0.85);
}
/* Some left and right padding inside the container */
.necontainer {
  padding: 5px 18px;
}
.topcolumn {
  float: left;
  width: 80% !important;
  padding: 1rem 3rem !important;
}
/* Clear floats */
.necontainer::after,
.nerow::after,
.nerow1::after {
  content: "";
  clear: both;
  display: table;
}
.topcolumn {
  float: left;
  width: 70% !important;
}
.necolumn {
  width: 70% !important;
  margin: auto !important;
}
.topcontainer {
  width: 21rem !important;
  margin: auto !important;
  padding: 0.1% 0 !important;
}
.nerow1 {
  margin-left: 20% !important;
  margin-right: auto !important;
}
.nerow {
  margin: auto !important;
  margin-right: auto !important;
  padding: 1.2% !important;
}
.nesmall {
  width: 100% !important;
  margin: auto !important;
  padding-top: 3% 0 !important;
}
.columnsmall {
  width: 32% !important;
}
.necolumn {
  padding: 1% !important;
}

/* NEW PAGE */
.construction {
  padding-top: 20%;
  font-size: 300% !important;
}

/* RESPONSIVE */

/* BIG SCREEN */
@media (min-width: 2000px) {
  .vwall {
    margin-top: 6.5rem !important;
  }
}

@media (min-width: 1400px) {
  .patchWords {
    font-size: 1.7vw !important;
    line-height: 3rem !important;
  }
  .patchWordsSmall {
    font-size: 1vw !important;
  }
}

@media (min-width: 1260px) {
  .sponsrow {
    width: 70% !important;
    margin: auto;
  }
  .rowPatch {
    width: 100%;
    margin: auto !important;
  }
}

/* NORMAL */
@media (max-width: 1440px) {
  .home1 {
    float: left !important;
    margin-left: 4vw !important;
  }
  .home {
    float: left !important;
    margin-left: 10.5vw !important;
  }
  .w3-right {
    float: right !important;
    margin-right: 2%;
  }
}

@media (max-width: 1205px) and (min-width: 1000px) {
  .w3-auto {
    max-width: 95%;
  }
  .nerow {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 1200px) {
  .w3-content2 {
    margin-left: 3rem !important;
    margin-top: 5rem !important;
  }
  .w3-container {
    width: 90% !important;
  }
  .nemcontent {
    /* padding-left: 2rem; */
  }
  .statement {
    margin: auto;
    width: auto;
    padding: 0 0.1%;
  }
  .w3-right {
    float: right !important;
    margin-right: 0.1%;
  }
  .home {
    float: left !important;
    margin-left: 3vw !important;
  }
  .home1 {
    float: left !important;
    margin-left: 4vw !important;
  }
}

@media (max-width: 1069px) and (min-width: 815px) {
  .w3-container {
    width: 90% !important;
  }
  .vwall {
    margin-top: 5.5rem !important;
  }
  .home {
    float: left !important;
    margin-left: 0.1vw !important;
  }
  .home1 {
    float: left !important;
    margin-left: 1vw !important;
  }
  .w3-padding-large {
    padding: 1.6vw 1.5vw !important;
  }
  .w3-right {
    float: right !important;
    padding-right: 0.1%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .visible-md,
  .visible-lg {
    display: block !important;
  }
}

@media (max-width: 1200px) and (min-width: 900px) {
  .mcontent2 {
    padding-left: 10% !important;
    padding-right: 5% !important;
  }
  .w3-content2 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 1021px) and (max-width: 1080px) {
  .topcolumn {
    float: left;
    width: 20% !important;
  }
  .necolumn {
    width: 70% !important;
    margin: auto !important;
  }
  .topcontainer {
    font-size: 1.65vw !important;
    width: 21rem !important;
    margin: auto !important;
    padding: 0.1% 0 !important;
  }
  .nerow1 {
    margin-left: 20% !important;
    margin-right: auto !important;
  }
  .nerow {
    margin: auto !important;
    margin-right: auto !important;
    padding: 1.2% !important;
  }
  .nesmall {
    font-size: 1.4vw !important;
    width: 100% !important;
    margin: auto !important;
    padding-top: 3% 0 !important;
  }
  .columnsmall {
    width: 32% !important;
  }
  .necolumn {
    padding: 1% !important;
  }
  .w3-third {
    float: left;
    width: auto;
    margin: auto;
  }
  .w3-row,
  .sponsrow {
    width: 90% !important;
    margin-left: 12% !important;
  }
  #sponsorimg {
    width: 9rem;
    height: 9rem;
    padding: 4% 3.5%;
  }
  .row2 {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
    width: auto;
  }
  .column2 {
    float: left;
    width: 50%;
  }
  .container2 {
    width: 71% !important;
    height: 3rem !important;
    margin: auto;
    padding-top: 2%;
  }
}

@media (min-width: 900px) {
  .w3-content {
    padding-top: 10rem !important;
  }
}

@media (max-width: 1080px) {
  /* .card {
    width: auto !important;
    height: auto !important;
  } */
  .column {
    width: 50% !important;
  }
  .row {
    margin-left: auto !important;
  }
  .w3-content2 {
  }
}

/* TABLET */

@media (max-width: 1026px) and (min-width: 620px) {
  #header3,
  #header2,
  #header {
    width: 70% !important;
    height: auto !important;
  }
  .w3-button {
    text-align: center !important;
  }
  .column-center {
    /* margin-left: 24% !important; */
    /* width: 50% !important; */
  }
}

@media (max-width: 985px) and (min-width: 620px) {
  .w3-third {
    float: left;
    width: auto;
    margin: auto;
    padding: 1%;
  }
  .w3-row,
  .sponsrow {
    width: 90% !important;
    margin: auto !important;
  }
  #sponsorimg {
    width: 7.5rem;
    height: 7.5rem;
    padding: 4% 3%;
  }
  #sponsor {
    width: 100% !important;
  }
}

@media (max-width: 815px) and (min-width: 620px) {
  .home,
  .home1 {
    float: left !important;
    margin-left: -0.1vw !important;
  }
  .w3-right {
    float: right !important;
    padding: 0.5% !important;
  }
  .w3-padding-large {
    padding: 1.6vw 1.75vw !important;
  }
  .w3-top {
    font-size: 2.2vw !important;
  }
  .vwall {
    margin-top: 2.2rem !important;
  }
}

@media (min-width: 620px) {
  .w3-hide-large {
    display: none !important;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important;
  }
  .w3-bar {
    font-size: 90%;
  }
  .w3-dropdown-content {
    margin-top: 0px !important;
    padding-top: 1px !important;
  }
}

@media (min-width: 601px) {
  .mcontent,
  .mcontent2 {
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 761px) and (max-width: 1020px) {
  .row2 {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
  }
  .column2 {
    float: left;
    width: 50%;
  }
  .container2 {
    width: 17.5rem !important;
    height: 3.5rem !important;
    margin: auto;
    padding-top: 4%;
  }
}

@media (min-width: 620px) and (max-width: 1020px) {
  .topcolumn {
    float: left;
    width: 60% !important;
  }
  .necolumn {
    width: 70% !important;
    margin: auto !important;
  }
  .topcontainer {
    font-size: 1.65vw !important;
    width: 70% !important;
    margin: auto !important;
    padding: 0.1% 0 !important;
  }
  .nerow1 {
    margin-left: 20% !important;
    margin-right: auto !important;
  }
  .nerow {
    margin: auto !important;
    padding: 0.4% !important;
    width: 120% !important;
  }
  .nesmall {
    font-size: 1.4vw !important;
    width: 100% !important;
    margin: auto !important;
    padding-top: 3% 0 !important;
  }
  .columnsmall {
    width: 28% !important;
  }
  .necolumn {
    padding: 1% !important;
  }
  .w3-content {
    padding: 10rem 0.5rem !important;
  }
}

@media (min-width: 730px) and (max-width: 800px) {
  .column {
    width: auto !important;
    float: left;
    display: flex;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .card {
    width: 16rem !important;
    height: 20rem !important;
  }
}
/* PHONE */
@media (max-width: 420px) {
  .w3-row,
  .sponsrow {
    width: auto !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    display: flex;
  }
  .w3-third {
    width: auto;
    margin: auto;
  }
  #sponsorimg {
    width: 7.5rem;
    height: 7.5rem;
    padding: 5% 6%;
  }
}

@media (max-width: 619px) and (min-width: 420px) {
  .w3-row,
  .sponsrow {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    display: flex;
  }
  .w3-third {
    width: 50%;
    margin: auto;
  }
  #sponsorimg {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 690px) {
  .topcolumn {
    float: left;
    width: 25rem !important;
    padding: 1rem !important;
    margin-left: 10% !important;
  }
  .nemcontent {
    font-size: 2.7vw !important;
  }
}

@media (max-width: 620px) {
  body {
    font-size: 100% !important;
  }
  .w3-content .w3-content2 {
    padding-top: 6rem;
  }
  .w3-content2 {
    margin: auto;
    margin-top: 5rem !important;
  }
  .w3-content {
    margin: auto;
    margin-top: 4.5rem;
  }
  .w3-dropdown-hover.w3-dropdown-content,
  .w3-dropdown-content {
    position: relative;
  }
  .w3-hide-small {
    display: none !important;
  }
  .w3-bar-item,
  .w3-dropdown-hover {
    text-align: center;
  }
  .w3-dropdown-hover,
  .w3-dropdown-hover .w3-btn,
  .w3-dropdown-hover .w3-button,
  .w3-btn,
  .w3-button {
    width: 100%;
  }
  .w3-dropdown-content {
    margin-top: 0px !important;
    padding-top: 1px !important;
  }
  .info {
    width: 80%;
  }
  .vwall {
    margin-top: 15% !important;
    width: 100% !important;
  }
  .home {
    float: left !important;
    margin-left: auto !important;
  }
  .home1 {
    float: left !important;
    margin-left: auto !important;
  }
  input[type="checkbox"] {
    display: none;
  }
  .donate {
    width: 40% !important;
  }
  #header3,
  #header2,
  #header {
    width: 100% !important;
    height: auto !important;
  }
  .w3-button {
    text-align: center !important;
  }
  .toleft,
  .toright {
    float: none !important;
  }
  .columnEvent {
    width: 100% !important;
  }
}

/* Display the columns below each other instead of side by side on small screens- CONTACT 279 */
@media screen and (max-width: 730px) {
  .sponsrow {
    display: flex;
  }
  .column {
    width: 100% !important;
    display: flex;
    /* flex-direction: column; */
  }
  .row {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    /* flex-direction: row; */
  }
}
/* Display the columns below each other instead of side by side on small screens LINKS */
@media screen and (max-width: 760px) {
  .column2 {
    width: 100%;
    display: block;
  }
  .row2 {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .container2 {
    width: 105% !important;
  }
  .column-center {
    margin-left: 0% !important;
    /* display: flex; */
    width: 100% !important;
    /* width: 50% !important; */
  }
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
  .necolumn,
  .topcolumn {
    width: 100% !important;
    padding: 0% !important;
    margin-left: 0 !important;
    display: block;
  }
  .nerow {
    margin-left: -5% !important;
    margin-right: auto !important;
  }
  .nerow1 {
    margin-left: -5% !important;
    margin-right: auto !important;
  }
  .topcontainer {
    width: 70% !important;
    margin: auto !important;
  }
}

@media (max-width: 700px) {
  .statement {
    margin: auto;
    width: auto;
    padding: 0 5%;
  }
  .w3-content2 {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 7.5rem !important;
  }
  .mcontent2 {
    padding-top: 5% !;
  }
  .w3-container {
    /* padding-left: 10% !important; */
  }
  .patchWords {
    font: bold 4.5vw verdana !important;
    text-align: CENTER !important;
    line-height: 1.5rem !important;
    color: black;
    padding-top: 0 !important;
  }
  .patchWordsSmall {
    font: bold 3.5vw verdana !important;
    text-align: CENTER !important;
    color: black;
    padding-bottom: 15%;
  }
  .columnPatch {
    width: auto;
    margin-bottom: -1.2rem !important;
  }
  #patch {
    width: 75%;
    float: none;
  }
  .left {
    width: 100% !important;
    float: none;
    padding: 0 !important;
  }
  .right {
    width: 100% !important;
    padding: 0 0.5 !important;
    margin: auto;
    float: left;
  }
  .rowPatch {
    /* margin-left: -3.5rem !important;
    margin-right: -1rem !important; */
  }
}

/* PRINT */
@media only print {
  .w3-top {
    display: none;
  }
  #header,
  #header .banner,
  .contain,
  .inner,
  #content #main,
  #content #side {
    clear: both;
    float: none;
    height: auto;
    min-height: 0;
    width: auto;
    background: transparent;
  }
  body {
    background: transparent;
  }

  #header,
  #header2,
  #header3 {
    display: block;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
}

.smtxt {
  font-size: 0.9rem !important;
}
